<div>
  <div>
    <span>Current:</span>&nbsp;
    <strong>{{currentRangeAsDate.start | date}}</strong> &mdash; <strong>{{currentRangeAsDate.end | date}}</strong>
  </div>
  <div>
    <div style='float: left; padding-right: 15px;'>{{range.start|date}}</div>
    <div class="slider" style="width: 400px; float: left"></div>
    <div style='float: left; padding-left: 15px;'>{{range.end|date}}</div>
    <br style='clear: both'>
  </div>
  <div>
    <chart-chart data="currentData"></graph-graph>
  </div>
</div>
